<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="net.tf.javaee.mapper.UserMapper">
		<select id="queryUserByUid" parameterType="String" resultType="net.tf.javaee.model.User">
			SELECT * FROM user WHERE uid=#{uid}
		</select>
		<select id="queryUserByUsername" parameterType="String" resultType="net.tf.javaee.model.User">
			SELECT * FROM user WHERE username=#{username}
		</select>
		<select id="queryUserByUsernamePassword" parameterType="net.tf.javaee.model.User" resultType="net.tf.javaee.model.User">
			SELECT * FROM user WHERE username=#{username} AND password=#{password}
		</select>
		<select id="queryAllUsers" resultType="net.tf.javaee.model.User">
			SELECT * FROM user
		</select>
		<delete id="deleteUserByUid" parameterType="String" >
			DELETE FROM user WHERE uid=#{uid}
		</delete>
		<update id="modifyUserByUid" parameterType="net.tf.javaee.model.User" >
			UPDATE user SET
			<if test="username!=null and username!=''">
			username=#{username},
			</if>
			<if test="password!=null and password!=''">
			password=#{password},
			</if>
			gender=#{gender},birthdate=#{birthdate} WHERE uid=#{uid}
		</update>
		<insert id="insertUser" parameterType="net.tf.javaee.model.User">
			INSERT INTO user VALUES(#{uid},#{usernam)
		</insert>
	</mapper>